@import url('https://fonts.googleapis.com/css2?family=Roboto Condensed:wght@600;700&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: Source Sans Pro, sans-serif;
}

@media screen and (min-width: 960px) {
    .wrapper-wide {   
    width: 960px;
    margin: auto;
    }
}

@media screen and (max-width: 620px) {
    .wrapper-wide p {   
    width: 90%;
    }
}


header {  
    padding-top: 1rem;
    padding-left: 1rem;
}

#logo {
    font-size: 1.3rem;
    font-family: Roboto Condensed, sans-serif;
    text-decoration: none;
    color: #000;
    letter-spacing: .1rem;
    text-transform: uppercase;
    line-height: 1.4em;
    float: left;
    padding-bottom: 1rem;
}

#nav {
    float: right;
    margin-bottom: 1rem;
    margin-right: .5rem;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    margin: .5rem;
    padding-bottom: .2rem;
    letter-spacing: .1rem;
}

nav a:hover {
    border-bottom: 5px solid #000;
}
    
.active {
    color: darkgoldenrod;
    border-bottom: 5px solid darkgoldenrod;
}

.headline {
    clear: both;
    margin: 2rem 0 1rem 0rem;
    font-family: Roboto Condensed, sans-serif;
    text-transform: uppercase;
}

/** hero image on index.html **/

#hero-outer {
    height: 30rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 30rem;
    width: 100%;
    background: url('../images/hero-knutcon.jpg') no-repeat center center;
    background-size: cover;
    
}

#hero-headline {
    font-size: 300%;
    font-family: Roboto Condensed, sans-serif;
    text-transform: uppercase;
    top: 20rem;
    text-align: right;
    line-height: 100%;
    width: 320px;
    float: right;
    margin-right: 1rem;
}

#hero-text {
    clear:right;
    width: 220px;
    height: 120px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    font-size: large;
    float: right;
    position: relative;
    top: 190px;
    margin-right: 1rem;
}


/* Banner image on about.html and contact.html */

#banner-contact-outer {
    height: 19rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#banner-contact-image {
    height: 19rem;
    width: 100%;
    background: url('../images/banner-contact.jpg') no-repeat center center;
    background-size: cover;
  
}

#banner-about-outer {
    height: 19rem;
    width: 100%;
    overflow: hidden;
    position: relative;
   
}
#banner-about-image {
    height: 19rem;
    width: 100%;
    background: url('../images/banner-about.jpg') no-repeat center center;
    background-size: cover;
}



 #pitch {
    padding-left: 1rem;
}
 
 .pitch-text {
    width: 29%;
    display: inline-block;
    vertical-align: top;
    padding: 0 1.5rem 1.5rem 0;
}

  a.button {
    background-color: darkgoldenrod;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    margin: 1.5rem 1.5rem 2rem 0;
    }

a.button:hover {
    background-color: rgb(138, 101, 9);
}


#services {
    padding-left: 1rem;
}
 
.service-img {
    max-width: 45%;
    aspect-ratio: 1 / 1;
    min-width: 140px;
    display: inline-block;
    vertical-align: top;
    margin: 1rem .5rem .5rem 0;
  }

.service-pic {
    width: 100%;
    height: 100%;
  }

#quotes-box {
    padding-left: 1rem;

}

.quotes-text {
    width: 29%;
    display: inline-block;
    vertical-align: top;
    padding: 0 1.5rem 1.5rem 0;
 }

.quote-name {
    display: block;
    text-align: right;
    padding-top: .5rem;
    color: grey;

 }

#quality {
    padding-left: 1rem;
}

.quality-mark {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1rem;
    padding-right: 1rem;
    opacity: 80%;
  }


  footer {
   
    height: 12rem;
    padding: 1rem 0 1rem 1rem;
    background-color: lightgray;
    line-height: 1.5rem;
  }

  footer a {
    color: #000;
    text-decoration: none;
  }

  footer a:hover {
    color: darkgoldenrod;
  }

  .footer-logo {
    font-family: Roboto Condensed, sans-serif;
    text-transform: uppercase;
    font-size: 120%;
    padding-top: .5rem;
    color:  darkgoldenrod;
  }

  .social {
    margin-top: 1rem;
  }

  .social a {
    font-size: 200%;
    color: rgb(107, 107, 107);
    letter-spacing: 1rem;
  }
  .social a:hover {
    color:  darkgoldenrod;
  }

#about-top {
    padding-left: 1rem;
}

#about-bottom {
    padding-left: 1rem;
    padding-right: 1rem;
}

.about-text {
    width: 46%;
    display: inline-block;
    vertical-align: top;
    padding: 0 1.5rem 1.5rem 0;
}

.about-text-bottom {
    width: 46%;
    display: inline-block;
    vertical-align: top;
    padding: 0 1.5rem 1.5rem 0;
}

#contact {
    padding-left: 1rem;
   
}

.map {
    width: 100%;
    max-width: 100%;
    height: 20rem;   
    margin-bottom: 1rem;
}

/* Contact form */

input[type=text], [type=email], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
  }
  
  input[type=submit] {
    background-color: darkgoldenrod;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
 
  input[type=submit]:hover {
    background-color: rgb(138, 101, 9);
  }
    
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-right: 1rem;
    margin-bottom: 2rem;   
}
 .contact-text {
    width: 46%;
    display: inline-block;
    vertical-align: top;
    padding: 0 1.5rem 1.5rem 0;
 }
