@import url('https://fonts.googleapis.com/css2?family=Roboto Condensed:wght@600;700&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Source Sans Pro, sans-serif;
}

@media screen and (min-width: 960px) {
    .wrapper-wide {   
    width: 960px;
    margin: auto;
    }
}

header {  
    padding-top: 1rem;
    padding-left: 1rem;
}

#logo {
    font-size: 1.3rem;
    font-family: Roboto Condensed, sans-serif;
    text-decoration: none;
    color: #000;
    letter-spacing: .1rem;
    text-transform: uppercase;
    line-height: 1.4em;
    float: left;
    padding-bottom: 1rem;
}

nav
 a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    padding: .5rem;
    letter-spacing: .1rem;
}

nav a:hover {
    border-bottom: 1px solid #000;
}
    
#nav
 {
    float: right;
    margin-bottom: 1rem;
    margin-right: .5rem;
}

.headline {
    margin: 2rem 0 1rem 0rem;
}

/** hero **/

#hero-outer {
    height: 30rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 30rem;
    width: 100%;
    background: url('../images/hero-knutcon.jpg') no-repeat center center;
    background-size: cover;
}

#hero-text-container {
   
}

#hero-headline {
    font-size: 300%;
    font-family: Roboto Condensed, sans-serif;
    text-transform: uppercase;
    top: 20rem;
    text-align: right;
    line-height: 100%;
    width: 320px;
    float: right;
    margin-right: 1rem;
}

#hero-text {
    clear:right;
    width: 220px;
    height: 120px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    font-size: large;
    float: right;
    position: relative;
    top: 190px;
    margin-right: 1rem;
}

 #pitch {
    padding-left: 1rem;
}
 
 .pitch-text {
    max-width: 18rem;
    display: inline-block;
    vertical-align: top;
    padding: 0 1rem 1rem 0;
  }

  #services {
    padding-left: 1rem;
}
 
  .service-img  {
    width: 24%;
    max-width: 300px;
    min-width: 140px;
    display: inline-block;
    vertical-align: top;
    background-color: lightgray;
  }

  #quotes-box {
    padding-left: 1rem;

}

.quotes-text {
   max-width: 18rem;
   display: inline-block;
   vertical-align: top;
   padding: 0 1rem 1rem 0;
 }

  #quality {
    padding-left: 1rem;
}

  .quality-mark {
    width: 4rem;
    height: 4rem;
    display: inline-block;
    vertical-align: top;
    background-color: lightgray;
  }

  footer {
    height: 10rem;
    padding: 1rem;
    background-color: lightgray;
  }